*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(183, 249, 183);
}

.greet{
  background-color: black;
  color: white;
}

.try{
  position: fixed;
  top: 50%;
  left: 50%;
  transition: all linear;
  transform: translate(-50%,-50%) scale(1.5) ;
}

  
@keyframes rot {
  0%{
     
  }
  100%{
      transform: rotate(-180deg);
  }
  
}