*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(183, 249, 183); */
  
}

.navbar{
  /* display: flex; */
  background-color: rgb(142, 108, 123);
  /* border: 2px solid red; */
  justify-content: space-between;
  width: 100%;
  position: sticky;
  
}
.anchor{
  text-decoration: none;
  color: white;
  padding: 5px 15px
}

.search{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.searchinput{
  text-align: center;
  border-radius: 5px;
 
}
.imagee{
  position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
